{{!-- For each application, grab the appropriate info and insert into a card, list, accordion, etc to display on the page  --}}

{{!-- Not sure if these should be app.id, app.company_name, etc --}}

<div class="card">
<a href="/application/{{id}}"></a>
  <h5 class="card-header">{{company_name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{role}}</h5>
    <p class="card-text">{{job_url}}</p>
    <a href="#" class="btn btn-primary">More Details</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</a>
</div>