<div class= "container">
    <div class="card">
        <div class="card-header">
        Harrison K.
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://via.placeholder.com/150">
            </div>
            <div class="col-8">
                <ul>
                    <li>Github:https://github.com/hkidd/Jobster
                    <li>Email:https://github.com/hkidd/Jobster
                <ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
        Carlos
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://via.placeholder.com/150">
            </div>
            <div class="col-8">
                <ul>
                    <li>Github:https://github.com/hkidd/Jobster
                    <li>Email:https://github.com/hkidd/Jobster
                <ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
        Joris
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://via.placeholder.com/150">
            </div>
            <div class="col-8">
                <ul>
                    <li>Github:https://github.com/hkidd/Jobster
                    <li>Email:https://github.com/hkidd/Jobster
                <ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
        Maryam
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://via.placeholder.com/150">
            </div>
            <div class="col-8">
                <ul>
                    <li>Github:https://github.com/hkidd/Jobster
                    <li>Email:https://github.com/hkidd/Jobster
                <ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
        Christyn G
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://via.placeholder.com/150">
            </div>
            <div class="col-8">
                <ul>
                    <li>Github:https://github.com/hkidd/Jobster
                    <li>Email:https://github.com/hkidd/Jobster
                <ul>
            </div>
        </div>
    </div>
</div>