
 <header class="features-head">
  <br>
    <h1>It's a number's game and we are on YOUR side!</h1>
</header>
 <div class="px-4 py-5 my-5 text-center about-login">
    <h1 class="display-5 fw-bold">Let us help manage that job search</h1>
    <img class="d-block mx-auto mb-4 logo" src="./images/logo.gif.gif" alt="" width="160" height="130">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 track">Track all your job applications until you find your dream job!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="/login">Login!</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/signup">Sign Up!</a></button>
      </div>
    </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<header class="features-head">
  <br>
    <h1>Welcome to Jobster!</h1>
    <h4>Here's how we can help</h4>
    <br>
</header>
  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette features-card">
      <div class="col-md-7">
        <h2 class="featurette-heading">Track all your applications on one site! <span class="text-muted">We make it easy!</span></h2>
        <p class="lead">Imagine you didn't have to stress yourself remembering details of your applications</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette features-card-middle">
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Need a place to upload all your resumes? <span class="text-muted">Join us and for yourself</span></h2>
            <p class="lead">Jobster allows you to upload your resumes, cover letters and other materials so you never lose those files or job oppurtunities</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette  features-card">
      <div class="col-md-7">
        <h2 class="featurette-heading">Stick with us, <span class="text-muted">there's more coming!</span></h2>
        <p class="lead">In the future, we plan on including functionality such as tracking job metrics, interacting with other users and setting reminders to follow up </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>Jobster™</strong> was created by <a href="https://github.com/hkidd" target="_blank">Harrison</a>, <a href="https://github.com/mguppy" target="_blank">Maryam</a>, <a href="https://github.com/christyns92" target="_blank">Christyn</a>, <a href="https://github.com/jorropowathil" target="_blank">Joris</a> & <a href="https://github.com/cperezba" target="_blank">Carlos</a> The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p class="float-end toTop"><a href="#">Back to top</a></p>
    </div>
</footer>