 <container>
 <header>
    <h1>New Interview Information </h1>
    <div class="container newIntForm">
 <div class="interviewDate">
    <label for="interviewDate" class="col-form-label">Date Of Interview: </label>
    <div class="">
      <input type="date" class="form-control" id="interviewDate">
    </div>
  </div>
  <br>
   <div class="todo">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="sendThankYou">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Send Thank You Note
        </label>
      </div>
    </div>
  </div>
  <div class="todo">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="sendFollowUp">
        <label class="form-check-label" for="gridCheck1">
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  <br><br>
   <button type="submit" class="btn btn-primary">Submit</button>
    </container>
    
    <script src="./js/newInt.js"></script>