<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobster</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  
</head>

<body>
  <header>
    <h1>New Job Application</h1>

<form>
  <div class="row mb-3">
    <label for="inputCompany" class="col-sm-2 col-form-label">Company: </label>
    <div class="col-sm-10">
      <input type="company" class="form-control" id="inputCompany">
    </div>
  </div>
  <div class="row mb-3">
    <label for="jobURL" class="col-sm-2 col-form-label">Job Posting URL: </label>
    <div class="col-sm-10">
      <input type="jobURL" class="form-control" id="jobURL">
    </div>
  </div>
   <div class="row mb-3">
    <label for="dateFound" class="col-sm-2 col-form-label">Date Job Was Found: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dateFound">
    </div>
  </div>
   <div class="row mb-3">
    <label for="role" class="col-sm-2 col-form-label">Role: </label>
    <div class="col-sm-10">
      <input type="role" class="form-control" id="role">
    </div>
  </div>
    <div class="row mb-3">
    <label for="dateApplied" class="col-sm-2 col-form-label">Date Applied To: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dateApplied">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Research company and role
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
         
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="interviewDate" class="col-sm-2 col-form-label">Date Of Interview:: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="interviewDate">
    </div>
  </div>
<div class="row mb-3">
    <label for="noteSent" class="col-sm-2 col-form-label">Thank You Note Sent: </label>
    <div class="col-sm-10">
      <input type="input" class="form-control" id="noteSent">
    </div>
  </div>
  <div class="row mb-3">
    <label for="followUp" class="col-sm-2 col-form-label">Follow-Up Email Sent: </label>
    <div class="col-sm-10">
      <input type="input" class="form-control" id="followUp">
    </div>
  </div>

   <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Send Thank You Note
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
         
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  

<div class="row mb-3">
    <label for="testDate" class="col-sm-2 col-form-label">Date Of Efficiency Test: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="testDate">
    </div>
  </div>
  <div class="row mb-3">
    <label for="conceptsTested" class="col-sm-2 col-form-label">Concepts Tested: </label>
    <div class="col-sm-10">
      <input type="input" class="form-control" id="conceptsTested">
    </div>
  </div>
  <div class="row mb-3">
    <label for="passed" class="col-sm-2 col-form-label">Passed: </label>
    <div class="col-sm-10">
      <input type="input" class="form-control" id="passed">
    </div>
  </div>
    <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Study for test based on job description
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
         
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>