<header>
    <h1>New Job Application</h1>
    <div class="container newAppForm">
  <div class="row align-items-start">
    <div class="col">
    <div class="company">
    <label for="inputCompany" class="col-form-label">Company: </label>
    <div class="">
      <input type="company" class="form-control" id="inputCompany">
    </div>
  </div>
  <br>
  <div class="job">
    <label for="jobURL" class="col-form-label">Job Posting URL: </label>
    <div class="">
      <input type="jobURL" class="form-control" id="jobURL">
    </div>
  </div>
  <br>
   <div class="dateFound">
    <label for="dateFound" class="col-form-label">Date Job Was Found: </label>
    <div class="">
      <input type="date" class="form-control" id="dateFound">
    </div>
  </div>
  <br>
   <div class="role">
    <label for="role" class="col-form-label">Role: </label>
    <div class="">
      <input type="role" class="form-control" id="role">
    </div>
  </div>
  <br>
    <div class="applied">
    <label for="dateApplied" class="col-form-label">Date Applied: </label>
    <div class="">
      <input type="date" class="form-control" id="dateApplied">
    </div>
  </div>
  <br>
  <div class="toDos">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Research company and role
        </label>
      </div>
    </div>
  </div>
  <div class="toDos">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  <br><br>
  <div class="interviewDate">
    <label for="interviewDate" class="col-form-label">Date Of Interview: </label>
    <div class="">
      <input type="date" class="form-control" id="interviewDate">
    </div>
  </div>
  <br>
   <div class="todo">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Send Thank You Note
        </label>
      </div>
    </div>
  </div>
  <div class="todo">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
    </div>
    <br><br>
    <div class="col">
      <div class="test">
    <label for="testDate" class="col-form-label">Date Of Efficiency Test: </label>
    <div class="">
      <input type="date" class="form-control" id="testDate">
    </div>
  </div>
  <br>
  <div class="concepts">
    <label for="conceptsTested" class="col-form-label">Concepts Tested: </label>
    <div class="">
      <input type="input" class="form-control" id="conceptsTested">
    </div>
  </div>
  <br>
  <div class="passed">
    <label for="passed" class="col-form-label">Passed: </label>
    <div class="">
      <input type="input" class="form-control" id="passed">
    </div>
  </div>
  <br>
  <div class="todo">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
           <p>To Do's: </p>
          Study for test based on job description
        </label>
      </div>
    </div>
  </div>
  <div class="">
    <div class="offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Send Follow-Up Email
        </label>
      </div>
    </div>
  </div>
  <br>
  <p>Application Status</p>
  
<div class="select is-rounded">
                        <select class=".is-arrowless" id="genreSel">
                          <option>Select Application Status</option>
                          <option value="Prep for Phone Interview">Prep for Phone Interview</option>
                          <option value="Phone Interview Complete">Phone Interview Complete</option>
                          <option value="Prep for Onsite Interview">Prep for Onsite Interview</option>
                          <option value="Onsite Interview Complete">Onsite Interview Complete</option>
                          <option value="Prep for Proficiency Test">Prep for Proficiency Test</option>
                          <option value="Passed Proficiency Test">Passed Proficiency Test</option>
                          <option value="Failed Proficiency Test">Failed Proficiency Test</option>
                          <option value="Offer Received">Offer Received</option>
                          <option value="Accepted Offer">Accepted Offer</option>
                          <option value="Declined Offer">Declined Offer</option>
                        </select>
                    </div><br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>
</container>