<h1>User Profile</h1>
<container class="userInfo">
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">User Photo</figcaption>
    <p>Click here to upload your photo! <label for="formFile" class="form-label"> </label>
  <input class="form-control" type="file" id="formFile"></p>
  
</figure>
<br><br><br>
 <div class="">
    <label for="jobURL" class="col-form-label">Name:  </label>
    <div class="">
      <input type="jobURL" class="form-control" id="jobURL">
    </div><br><br><br>
 
  <container class="mb-3">
  <label for="formFile" class="form-label"> Resume Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
<br><br>
<div class="mb-3">
  <label for="formFile" class="form-label"> Cover Letter Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
<br>
<div class="mb-3">
  <label for="formFile" class="form-label"> Thank You Note Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
    </div>
    </div>
  </div>
  </container>
