<header>
<h1>User Profile</h1>
<container class="userInfo">
<img src="..." class="img-thumbnail" alt="...">
 <div class="">
    <label for="jobURL" class="col-form-label">Name:  </label>
    <div class="">
      <input type="jobURL" class="form-control" id="jobURL">
    </div>

  
  <div class="row align-items-center">
    <div class="col">
       <div class="col">
      <div class="mb-3">
  <label for="formFile" class="form-label"> Resume Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="mb-3">
  <label for="formFile" class="form-label"> Cover Letter Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="mb-3">
  <label for="formFile" class="form-label"> Thank You Note Upload Area </label>
  <input class="form-control" type="file" id="formFile">
</div>
    </div>
    </div>
  </div>
  </container>
