<h1>User Profile</h1>
<container class="userInfo">
  <img src="..." class="img-thumbnail" alt="...">
<input id="article_file_input" type="file" name="article_picture" style="display: none;">
    <p>Click
    <a onclick="$('input[id=article_file_input]').click();">here</a>
     to change your picture
    <p>
<br>
 <div class="">
    <label for="jobURL" class="col-form-label">Name: </label>  </label>
    <div class="">
      <p>{{user.firstname}} {{user.last_name}}</p>
    </div><br><br><br>
 
  <container class="mb-3">
  <label for="formFile" class="form-label"> Resumes </label>
  <input class="form-control" type="file" id="formFile">
</div>
<br><br>
<div class="mb-3">
  <label for="formFile" class="form-label"> Cover Letters </label>
  <input class="form-control" type="file" id="formFile">
</div>
<br>
<div class="mb-3">
  <label for="formFile" class="form-label"> Thank You Notes </label>
  <input class="form-control" type="file" id="formFile">
</div>
    </div>
    </div>
  </div>
  </container>
