:root {
    --primary: #003566;
    --secondary: #001d3d;
    --secondary: #56cfe1;
    --tertiary: #adb5bd;
    --quatrinary: #48bfe3;
    --light: #e3e4e3;
    --dark: #003566;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

h1  {
font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

font a {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--dark);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

header {
    padding: 0px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
}

main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
}

nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.app {
    background-color: #ffd166;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.newAppForm{
    background-color: ;
    border-radius: 10px;
    background-color:#ffe7af;
}

form {
    max-width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}


/* CARDS */

.card {
    text-align: center;
    align-items: center;
    margin: auto;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
    padding-top: 10px;
    max-width: 80%;
    max-height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-login{
text-align: center;
align-items: center;
margin: auto;
flex: 0 1 300px;
border: 7px;
border-radius: 10px;
background: rgb(96, 103, 247);
background: linear-gradient(270deg, rgba(96, 103, 247, 1) 17%, rgba(0, 53, 102, 1) 85%);
color: var(--dark);
padding-top: 10px;
max-width: 80%;
max-height: 80%;
margin-top: 10px;
margin-bottom: 10px;
box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, .2);
}

.track{
    color: white;
}

.logo{
    border-radius: 30px;
}

.login-card {
    align-items: center;
    text-align: center;
    margin: auto;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #003566;
    color: var(--light);
    margin-top: 10px;
    margin-bottom: 10px;
}
.features-head{
    border-radius: 5px;
}
.features-card {
    align-items: center;
    text-align: center;
    margin: auto;
    flex: 0 0 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background: rgb(96, 103, 247);
    background: linear-gradient(90deg, rgba(96, 103, 247, 1) 17%, rgba(0, 53, 102, 1) 85%);
    color: var(--light);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, .2);
}

.features-card-middle {
    align-items: center;
    text-align: center;
    margin: auto;
    flex: 0 0 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background: rgb(96, 103, 247);
    background: linear-gradient(270deg, rgba(96, 103, 247, 1) 17%, rgba(0, 53, 102, 1) 85%);
    color: var(--light);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, .2);
}

.card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: #adb5bd;
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

.userInfo {
    margin: 10px;
    align-items: center;
}

.col {
    align-items: center;
    text-align: center;
    margin-left: 20px;
    padding-left: 80px;
}

h1 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    color: #003566;
    text-align: left;
}

.userInfo {
    text-align: center;
}


/* LAYOUT */

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
}